<h1>Willkommen auf der Rezeptseite</h1>

<h2>Rezepte nach Kategorien</h2>



<h2>Rezepte nach Neusten</h2>
@if (allRecipeArray.length > 1) {
  @for (recipe of allRecipeArray; track $index) {
    <div class="recipeBox" [routerLink]="['/recipe-view']" [queryParams]="{ selectedRecipe: recipe._id }">
      <h3>{{recipe.recipeTitle}}</h3>
      <p>{{recipe.recipeDescription || "Keine Beschreibung"}}</p>
      <p>{{recipe.author || "Kein Autor"}}</p>
      <p>{{recipe.recipeCategory || "Unkategorisiert"}}</p>
      <p>{{recipe.rating || 0}}</p>
      <p>{{recipe.updatedAt | date: 'mediumDate'}}</p>
    </div>
  }
} @else {
  <p>Keine Rezepte vorhanden</p>
}

<h2>Top 5 Rezepte</h2>
@if(topRecipeArray.length > 1) {
  @for (recipe of topRecipeArray; track $index) {
    <div class="recipeBox" [routerLink]="['/recipe-view']" [queryParams]="{ selectedRecipe: recipe._id }">
      <h3>{{recipe.recipeTitle}}</h3>
      <p>{{recipe.recipeDescription || "Keine Beschreibung"}}</p>
      <p>{{recipe.author || "Kein Autor"}}</p>
      <p>{{recipe.recipeCategory || "Unkategorisiert"}}</p>
      <p>{{recipe.rating || 0}}</p>
      <p>{{recipe.updatedAt | date: 'mediumDate'}}</p>
    </div>
  }
} @else {
  <p>Keine Rezepte vorhanden</p>
}



<h2>Benutzerprofile</h2>
@if (allUserArray.length > 1) {
  @for (user of allUserArray; track $index) {
    <div class="userBox" [routerLink]="['/userprofil']" [queryParams]="{ selectedUser: user._id }">
      <h3>{{user.username}}</h3>
      <p>{{user._id}}</p>
    </div>
  }
} @else {
  <p>Keine Benutzer vorhanden</p>
}
