/* =====================================================

  Stylesheet für die Gestaltung der Welcome Komponente
  Datei: welcome.componente.css
  letzte Aenderung: 13.12.2024
  Autor: Jasmin Hauschild

======================================================== */
@import '../../../recipePreviewBox.css';


/* ----------- Section Preview ----------- */
.recipePreview section, .recipeCategory section, .userPreview section {
  width: 90%;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: var(--border-radius-element);
}
.recipePreview section, .recipeCategory section {
  display: flex;
  align-items: center;
}
.recipePreview section {
  flex-direction: column;
}


/* ----------- Hover-Effekt für Karten ----------- */
.userBox:hover,
.recipeBox:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* ----------- User Box ----------- */
.userPreview {
  margin: 20px 0;
}


.userPreview section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.userBox {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.userBox h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.userBox p {
  font-size: 0.9em;
  color: #666;
}



/* ----------- Accordion -----------*/
.accordion {
  display: block;
  max-width: 500px;
  border: none;
  background-color: transparent;
  width: 100%;
}

.accordion-item {
  display: block;
  border: var(--border-element);
}

.accordion-item + .accordion-item {
  border-top: none;
}

.accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.5em; /* Beispielgröße, anpassen nach Bedarf */
  font-weight: bold;
  color: #333; /* Dunklere Farbe */
  cursor: pointer;
  border-bottom: 1px solid #ddd; /* Unterer Rahmen */
}

.accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.accordion-item-header,
.accordion-item-body {
  padding: 16px;
}

.accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Anpassen des Inhalts des cdk-accordion-item */
cdk-accordion-item .accordion-item-body {
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd; /* Unterer Rahmen */
}

/* Anpassen des Indikators des cdk-accordion-item */
cdk-accordion-item .accordion-item-header .accordion-item-description {
  font-size: 0.9em;
  color: #a9a9a9; /* Hellere Farbe */
  margin-left: 10px;
}


mat-accordion {
  border: none;
  border-radius: 0;
}
mat-accordion mat-expansion-panel:last-of-type {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
/* Entfernen des Rahmens und der Hintergrundfarbe des mat-expansion-panel */
mat-expansion-panel {
  box-shadow: none;
  border: none;
  background-color: transparent;
  border-radius: 0;
  margin: 0; /* Entfernen von Margin */
  padding: 0; /* Entfernen von Padding */
}
/* Entfernen des Rahmens des mat-expansion-panel-Body */
mat-expansion-panel .mat-expansion-panel-content {
  border-top: none;
  border-radius: 0;
}
.mat-expansion-panel-header-title {
  padding-top: 15px;
}

/* Anpassen des Headers des mat-expansion-panel */
mat-expansion-panel-header {
  padding: 0;
  font-size: 1.5em; /* Beispielgröße, anpassen nach Bedarf */
  font-weight: bold;
  color: inherit; /* Erbt die Farbe von der übergeordneten Komponente */
  border-bottom: none;
  border-radius: 0;
}

/* Anpassen des Indikators des mat-expansion-panel */
mat-expansion-panel-header .mat-expansion-indicator {
  font-size: 1.5em; /* Größerer Schriftgrad */
  font-weight: bold; /* Fettere Schrift */
  color: inherit; /* Erbt die Farbe von der übergeordneten Komponente */
  margin-right: 15px;
}










/* ----------- Scrollbar ----------- */
/* Allgemein für moderne Browser */
body {
  scrollbar-width: thin; /* Für Firefox */
  scrollbar-color: #888 #f1f1f1; /* Für Firefox */
}

/* Für Chrome, Edge und Safari */
::-webkit-scrollbar {
  width: 12px; /* Breite der gesamten Scrollbar */
}
::-webkit-scrollbar-track {
  background: #dfdfdf; /* Hintergrund der Scroll-Leiste */
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #888; /* Farbe des Scrollbalkens */
}
::-webkit-scrollbar-thumb:hover {
  background-color: chartreuse;
}


/* ----------- Heading ----------- */
h2 {
  font-size: 2em; /* Größerer Schriftgrad */
  font-weight: bold; /* Fettere Schrift */
  color: #333; /* Dunklere Farbe */
  text-align: center; /* Zentrierter Text */
  margin: 20px 0; /* Abstand oben und unten */
  padding: 10px; /* Innenabstand */
  border-bottom: 2px solid #ddd; /* Unterer Rahmen */
}

/* ====================================
        Responsive Design
==================================== */
@media (min-width: 600px) {
    /* ----------- Section Preview ----------- */
    .recipePreview section, .recipeCategory section, .userPreview section {
      width: 75%;
    }
    .recipePreview section {
      flex-direction: row;
      overflow-x: scroll;
    }
  #allRecipes .recipePreview, #allRecipes section {
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: calc(3 * var(--card-height-desktop));
  }
    /* ----------- Recipe Box ----------- */
    article.recipePreview .recipeBox {
      margin-right: 20px;
    }

  .horizontal-scroll {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
  }


  /* ----------- Accordion (cdk) -----------*/
  .accordion {
    width: 100%;
    max-width: none;
  }
  .accordion-item-body {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }

}
