/* =====================================================

  Stylesheet für die Gestaltung der Welcome Komponente
  Datei: welcome.componente.css
  letzte Aenderung: 14.12.2024
  Autor: Jasmin Hauschild

======================================================== */
@import '../../../recipePreviewBox.css';


/* ----------- Section Preview ----------- */
.recipePreview section, .recipeCategory section, .userPreview section {
  width: 90%;
  margin: auto;
  padding: calc(2 * var(--margin-element));
  background-color: var(--light-med-color);
  border-radius: var(--border-radius-element);
}
.recipePreview section, .recipeCategory section {
  display: flex;
  align-items: center;
}
.recipePreview section {
  flex-direction: column;
}


/* ----------- Hover-Effekt für Karten ----------- */
.userBox:hover,
.recipeBox:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* ----------- User Box ----------- */
.userPreview {
  margin: calc(2 * var(--margin-element)) 0;
}


.userPreview section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(2 * var(--margin-element));
}

.userBox {
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: var(--border-radius-element);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: calc(2 * var(--margin-element));
  width: 200px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.userBox h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--dark-color);
  margin-bottom: var(--margin-element);
}

.userBox p {
  font-size: 0.9em;
  color: var(--secondary-color);
}


/* ----------- Accordion -----------*/
.accordion {
  display: block;
  max-width: 500px;
  border: none;
  background-color: var(--light-color);
  width: 100%;
}

.accordion-item {
  display: block;
  border: var(--border-element);
}

.accordion-item + .accordion-item {
  border-top: none;
}

.accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: var(--margin-element);
  font-size: 1.5em;
  font-weight: bold;
  color: var(--dark-color);
  cursor: pointer;
  border-bottom: 1px solid var(--light-color);
}
.accordion .accordion-item-header:hover {
  background-color: var(--light-med-color);
}

.accordion-item-description {
  font-size: 0.85em;
  color: var(--light-color);
}

.accordion-item-header,
.accordion-item-body {
  padding: 16px;
}

.accordion-item-header:hover {
  cursor: pointer;
  background-color: var(--light-color);
}

.accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

cdk-accordion-item .accordion-item-body {
  padding: var(--margin-element);
  background-color: var(--light-color);
  border-bottom: 2px solid var(--light-med-color);
}

cdk-accordion-item .accordion-item-header .accordion-item-description {
  font-size: 0.9em;
  color: var(--secondary-color);
  margin-left: var(--margin-element);
}

mat-accordion {
  border: none;
  border-radius: 0;
}
mat-accordion mat-expansion-panel:last-of-type {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

mat-expansion-panel {
  box-shadow: none;
  border: none;
  background-color: transparent;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

mat-expansion-panel-header {
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: inherit;
  border-bottom: none;
  border-radius: 0;
}


/* ----------- Scrollbar ----------- */
/* Allgemein für moderne Browser */
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Für Chrome, Edge und Safari */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #dfdfdf;
  border-radius: var(--border-radius-element);
}
::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-element);
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--contrast-color);
}


/* ----------- Heading ----------- */
h2 {
  font-size: 2em;
  font-weight: bold;
  color: var(--dark-color);
  text-align: center;
  margin: calc(2 * var(--margin-element)) 0;
  padding: var(--margin-element);
  border-bottom: 2px solid #ddd;
}

/* ====================================
        Responsive Design
==================================== */
@media (min-width: 600px) {
    /* ----------- Section Preview ----------- */
    .recipePreview section, .recipeCategory section, .userPreview section {
      width: 75%;
    }
    .recipePreview:not(.recipeCategory) section  {
      flex-direction: row;
      overflow-x: scroll;
    }

  /* ----------- Recipe Box ----------- */
    article.recipePreview .recipeBox {
      margin-right: 20px;
    }

  /* ----------- Accordion (cdk) -----------*/
  .accordion {
    width: 100%;
    max-width: none;
  }
  .accordion-item-body {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  article.recipePreview .accordion .recipeBox {
    margin: var(--margin-element) auto;
  }

}
