.userBox {
  background-color: tomato;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.recipeBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  width: 100%; /* Volle Breite auf mobilen Geräten */
  height: 400px; /* Feste Höhe für alle Karten */
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatteneffekt */
}

.recipeBox::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5px; /* Schmaler Kontraststreifen auf mobilen Geräten */
  height: 100%;
  background-color: #007bff; /* Farbe des Kontraststreifens */
}

@media (max-width: 600px) {
  .recipeBox {
    width: 100%;
  }
}

/* ----------- Accordion -----------*/
.example-accordion {
  display: block;
  max-width: 500px;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  overflow-x: scroll;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5; /* Einfarbiger Hintergrund */
}


mat-card-header {
  padding: 16px;
  background-color: #007bff; /* Farbe des Headers */
  color: #fff;
}

mat-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

mat-card-subtitle {
  font-size: 0.9em;
  color: #e0e0e0;
}

.card-content {
  display: flex;
  align-items: center; /* Vertikale Zentrierung */
  justify-content: flex-start; /* Links ausgerichtet */
  padding: 16px;
  flex: 1 1 auto; /* Flex-Grow für den Inhalt */
}

.card-content p {
  margin: 0; /* Entfernt den Standardrand des Absatzes */
}

mat-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f5f5f5; /* Hintergrundfarbe des Footers */
}

mat-chip {
  background-color: #007bff; /* Farbe des Chips */
  color: #fff;
  margin-right: 8px;
}

p {
  margin: 8px 0;
}

.favoriteIcon {
  display: flex;
  align-items: center;
  color: #007bff; /* Farbe des Icons */
}

.favoriteIcon mat-icon {
  margin-right: 4px;
}

/* Stile für größere Bildschirme */
@media (min-width: 600px) {
  section {
    flex-direction: row;
  }

  .recipeBox {
    width: 300px; /* Feste Breite auf größeren Bildschirmen */
    height: 300px; /* Feste Höhe für alle Karten */
    margin-right: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Deutlicherer Schatteneffekt */
  }

  .recipeBox::before {
    width: 10px; /* Breiterer Kontraststreifen auf größeren Bildschirmen */
  }

  mat-card-title {
    font-size: 1.5em;
  }

  mat-card-subtitle {
    font-size: 1em;
  }
}
