/* =====================================================

  Stylesheet für die Gestaltung der Recipe Edit Komponente
  Datei: recipe-edit.componente.css
  letzte Aenderung: 14.12.2024
  Autor: Jasmin Hauschild

======================================================== */
form#recipeCreateForm {
  background-color: #007bff;
  padding-bottom: var(--margin-element);
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  color: #dfdfdf;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-form-field .mat-form-field-label {
  color: #333; /* Dunklere Schriftfarbe für das Label */
}

mat-form-field .mat-input-element {
  color: #333; /* Dunklere Schriftfarbe für das Eingabefeld */
}

mat-form-field .mat-form-field-underline {
  background-color: #333; /* Dunklere Farbe für die Unterstreichung */
}

/* ----------- Zutaten ----------- */
.ingredient-item {
  display: flex;
  align-items: center;
}

.ingredient-item mat-form-field {
  flex: 1;
  margin-bottom: 3px;
}

.ingredient-item mat-icon {
  cursor: pointer;
  margin-left: 10px;
}

/* ----------- Absende Button ----------- */
/* Stile für den Submit-Button */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0; /* Dunkleres Blau für den Button */
  color: #303030;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #003f7f; /* Noch dunkleres Blau für den Hover-Effekt */
  color: #f0f0f0;
}



/* ====================================
        Media Queries
==================================== */
@media (max-width: 600px) {
  form {
    padding: 10px;
  }

  h2 {
    font-size: 1.5em;
  }

  button[type="submit"] {
    font-size: 1em;
  }
}
