/* =====================================================

  Stylesheet für die Gestaltung der Recipe Edit Komponente
  Datei: recipe-edit.componente.css
  letzte Aenderung: 14.12.2024
  Autor: Jasmin Hauschild

======================================================== */
form#recipeCreateForm {
  background-color: var(--primary-color);
  padding-bottom: var(--margin-element);
  max-width: 600px;
  margin: 0 auto;
  padding: calc(2 * var(--margin-element));
  border-radius: var(--border-radius-element);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  color: var(--dark-color);
}

mat-form-field {
  width: 100%;
  margin-bottom: calc(2 * var(--margin-element));
}

mat-form-field .mat-form-field-label {
  color: var(--dark-color);
}

mat-form-field .mat-input-element {
  color: var(--dark-color);
}

mat-form-field .mat-form-field-underline {
  background-color: var(--dark-color);
}

/* ----------- Zutaten ----------- */
.ingredient-item {
  display: flex;
  align-items: center;
}

.ingredient-item mat-form-field {
  flex: 1;
  margin-bottom: 3px;
}

.ingredient-item mat-icon {
  cursor: pointer;
  margin-left: var(--margin-element);
}

/* ----------- Absende Button ----------- */
button[type="submit"] {
  width: 100%;
  padding: var(--margin-element);
  background-color: var(--light-color);
  color: var(--dark-color);
  border: none;
  border-radius: var(--border-radius-element);
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--primary-color);
  color: var(--light-med-color);
}



/* ====================================
        Media Queries
==================================== */
@media (max-width: 600px) {
  form {
    padding: vsr(--margin-element);
  }

  h2 {
    font-size: 1.5em;
  }

  button[type="submit"] {
    font-size: 1em;
  }
}
