<section class="header">
  <div class="header-nav left">
    <span routerLink="/">Startseite</span>
    |
    <span>
      @if (username) {
        <span routerLink="/recipe-create">Rezept erstellen</span>
      } @else {
        <span mat-fab extended disabled
        disabledInteractive
        matTooltip="um ein Rezept zu erstellen musst du angemeldet sein">Rezept erstellen</span>
      }
    </span>
  </div>

  <div class="header-nav right">
    @if (username) {
      <span (click)="navigateAndReload()">Zum Profil ( {{username}} )</span>
      |
      <span (click)="logout()">Logout</span>
    } @else {
      <span routerLink="/login">Login</span>
    }
  </div>
</section>
