/* =====================================================

  Stylesheet für die Gestaltung des Headers
  Datei: header.componente.css
  letzte Aenderung: 15.12.24
  Autor: Jasmin Hauschild

======================================================== */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.header-nav.left {
  justify-content: flex-start;
}

.header-nav.right {
  justify-content: flex-end;
}

.header-nav span {
  margin: 5px 10px;
}

.header span:hover {
  cursor: pointer;
  color: var(--contrast-color);
}

/* ====================================
        Responsive Design
==================================== */
@media (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-nav {
    flex-direction: row;
    align-items: center;
    width: auto;
    margin-bottom: 0;
  }

  .header-nav.left {
    justify-content: flex-start;
  }

  .header-nav.right {
    justify-content: flex-end;
  }
}
