<div class="header">
  <div class="header-nav left">
    Links
  </div>

  <div class="header-nav center">
    <span routerLink="/recipe-view">Rezept anschauen</span>
    <span routerLink="/recipe-create">Rezept erstellen</span>
    <span routerLink="/">Startseite</span>
  </div>

  <div class="header-nav right">
    @if (username) {
      Hallo {{ username }}
      <span [routerLink]="['/userprofil']" [queryParams]="{ selectedUser: userId }">Zum Profil</span>
      <span (click)="logout()">Logout</span>
    } @else {
      <p routerLink="/login">Login</p>
    }
  </div>
</div>
