<h2>Erstelle ein Rezept</h2>

<form [formGroup]="recipeForm" (ngSubmit)="submitForm()">

  <mat-label>Titel</mat-label>
    <mat-form-field appearance="fill">
      <mat-label>Titel</mat-label>
      <input matInput id="recipeTitle" type="text" formControlName="recipeTitle" />
    </mat-form-field>
    <br />

    <mat-label>Kategorie</mat-label>
    <mat-form-field appearance="fill">
        <mat-label>Kategorie</mat-label>
        <mat-select formControlName="recipeCategory">
          @for (category of categories; track category) {
            @if ($index === 1) {
              <mat-option [value]="category" selected>{{category}}</mat-option>
            } @else {
              <mat-option [value]="category">{{category}}</mat-option>
            }
          }
        </mat-select>
    </mat-form-field>
    <br />

    <mat-label>Beschreibung</mat-label>
    <mat-form-field appearance="fill">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput id="recipeDescription" type="text" formControlName="recipeDescription"> </textarea>
    </mat-form-field>
    <br />

    <mat-label>Zutaten</mat-label>
    <div formArrayName="recipeIngredients">
      @for (ingredient of recipeIngredients.controls; track ingredient; let i = $index) {
        <div class="ingredient-item">
            <mat-form-field appearance="fill">
                <mat-label>Zutat {{ i + 1 }}</mat-label>
                <input matInput type="text"  formControlName="{{$index}}" />
                <span matSuffix>
                  @if (recipeIngredients.length > 1) {
                    <mat-icon aria-label="Clear" (click)="removeIngredientField(i)">close</mat-icon>
                  }
                  @if ($index === recipeIngredients.length - 1 && recipeIngredients.length < 15) {
                    <mat-icon aria-label="Add" (click)="addIngredientsField()">add_circle</mat-icon>
                  }
                </span>
            </mat-form-field>
        </div>
      }
    </div>
    <br />

    <mat-label>Anleitung</mat-label>
    <mat-form-field appearance="fill">
      <mat-label>Anleitung</mat-label>
      <textarea matInput id="recipeInstruction" type="text" formControlName="recipeInstruction"> </textarea>
    </mat-form-field>
    <br />

  <button mat-raised-button type="submit" [disabled]="recipeForm.invalid">Rezept erstellen</button>
</form>
