<section id="headline">
  <h2>{{ title }}</h2>

  @if (currentUser === author) {
    <button mat-fab aria-label="Rezept bearbeiten" (click)="editRecipe()">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-fab aria-label="Rezept komplett löschen" (click)="deleteRecipe()">
      <mat-icon>delete</mat-icon>
    </button>
  }

  <mat-chip>{{ category }}</mat-chip>
  <p [routerLink]="['/userprofil']" [queryParams]="{ selectedUser: recipeAuthorId }"  queryParamsHandling="merge">{{ author }} {{recipeAuthorId}}</p>
  <p>{{ createdAt | date : 'mediumDate'}}</p>
  <p>{{ rating }} Likes
    <span>
      @if (currentUser === "Gast" || currentUser === "") {
        <a mat-fab extended disabled
        disabledInteractive
        matTooltip="Du musst angemeldet sein um eine Bewertung abzugeben">
          <mat-icon>favorite</mat-icon>
        </a>
      } @else if(currentUser === author) {
        <a mat-fab extended disabled
        disabledInteractive
        matTooltip="Du kannst dein eigenes Rezept nicht bewerten">
          <mat-icon>favorite</mat-icon>
        </a>
      } @else if (isLiked) {
        <a mat-fab extended (click)="removeLike()">
          <mat-icon>favorite</mat-icon> Like
          </a>
      } @else {
        <a mat-fab extended (click)="addLike()">
          <mat-icon>favorite</mat-icon> Like
          </a>
      }
    </span>
  </p>

  <div>
    <p>{{ description }}</p>
  </div>
</section>

<section id="ingredient">
  <h3>Zutaten</h3>
  <ul>
    @if(ingredients.length === 0) {
      <p>Es gibt keine Zutaten</p>
    } @else {
      @for (ingredient of ingredients; track $index) {
        <li>{{ ingredient }}</li>
      }
    }
  </ul>
</section>

<section id="instruction">
  <h3>Anleitung</h3>
  <p>{{ instruction }}</p>
</section>


@if (currentUser === author) {
  <button mat-fab aria-label="Rezept bearbeiten" (click)="editRecipe()">
    <mat-icon>edit</mat-icon>
  </button>
}
@if (isEditing) {
  <app-recipe-edit [recipe2send]="recipe2send"></app-recipe-edit>
}




<section id="comments">
  <h3>Kommentare</h3>
  @if (comments.length > 0) {
    @for (comment of comments; track $index) {
      <div class="comment">
        <p>{{ comment.content }}</p>
        <p>{{ comment.author }}</p>
        <p>{{ comment.createdAt | date: 'mediumDate' }}</p>
      </div>
    }
  } @else {
    <p>Es gibt noch keine Kommentare</p>
  }

  <div>
    @if (currentUser === "Gast" || currentUser === "") {
      <a mat-flat-button disabled
      disabledInteractive
      matTooltip="Du musst angemeldet sein um einen Kommentar zu schreiben">
        Kommentieren
      </a>
    } @else if(!showCommentField) {
      <a mat-flat-button (click)="showCommentField = !showCommentField">Kommentieren</a>
    } @else {
      <br />
      <p (click)="showCommentField = !showCommentField">X</p>
      <textarea [(ngModel)]="newCommentContent" placeholder="Schreibe einen Kommentar"></textarea>
      <a mat-flat-button (click)="addComment()">Absenden</a>
    }
  </div>

</section>
