<section id="headline">
  <h2>{{ title }}</h2>
  <p>{{ author }}</p>
  <p>{{ createAt | date : 'mediumDate'}}</p>
  <p>{{ rating }} Likes
    <span>
      @if (currentUser === "Gast" || currentUser === "") {
        <a mat-fab extended disabled
        disabledInteractive
        matTooltip="Du musst angemeldet sein um eine Bewertung anzugeben">
          <mat-icon>favorite</mat-icon>
        </a>
      } @else if(currentUser === author) {
        <a mat-fab extended disabled
        disabledInteractive
        matTooltip="Du kannst dein eigenes Rezept nicht bewerten">
          <mat-icon>favorite</mat-icon>
        </a>
      } @else if (isLiked) {
        <a mat-fab extended (click)="removeLike()">
          <mat-icon>favorite</mat-icon> Like
          </a>
      } @else {
        <a mat-fab extended (click)="addLike()">
          <mat-icon>favorite</mat-icon> Like
          </a>
      }
    </span>
  </p>

  <p>{{ description }}</p>
</section>

<section id="ingredient">
  <h3>Zutaten</h3>
  <ul>
    @for (ingredient of ingredients; track $index) {
      <li>{{ ingredient }}</li>
    }
  </ul>
</section>

<section id="instruction">
  <h3>Anleitung</h3>
  <p>{{ instruction }}</p>
</section>

<section id="comments">
  <h3>Kommentare</h3>
  @if (comments.length > 0) {
    @for (comment of comments; track $index) {
      <div class="comment">
        <p>{{ comment.content }}</p>
        <p>{{ comment.author }}</p>
        <!-- //TODO - Alter in Tagen hier ausrechnen aus dem Erstelldatum -->
        <p>{{ comment.date }}</p>
      </div>
    }
  } @else {
    <p>Es gibt noch keine Kommentare</p>
  }

</section>
