/* =====================================================

  Stylesheet für die Gestaltung der recipe-view Komponente
  Datei: recipe-view.componente.css
  letzte Aenderung: 14.12.2024
  Autor: Jasmin Hauschild

======================================================== */
/* ----------- Importierte Styles ----------- */
@import '../../../commentBox.css';


/* ----------- Allgemein ----------- */
section {
  text-align: center;
}

/* ----------- Kopfzeile -----------*/
#recipeDescription {
  margin: 0 0 .5em;
  border-bottom: 2px solid #ddd;
}

mat-chip {
  margin-bottom: var(--margin-element);
}
span:last-child {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

#editRecipe {
  margin-left: 5%;
}

/* ----------- Rezeptansicht -----------*/
h3 {
  font-variant: petite-caps;
  font-weight: 500;
  margin-top: calc(3 * var(--margin-element));
}

/* ----------- Zutaten -----------*/
ul {
  list-style-type: none;
  text-align: left;
  width: 50%;
  margin: 4px auto;
}


/* ----------- Kommentar erstellen -----------*/
textarea {
  width: 90%;
  height: 100px;
  padding: var(--margin-element);
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: var(--margin-element);
  font-size: 1em;
  color: var(--dark-color);
}

textarea::placeholder {
  color: #999;
}

#comments #closeButton {
  font-weight: 999;
  font-size: 1.6em;
  margin-right: var(--margin-element);
}
#comments #closeButton:hover {
  color: #999;
}

/* ----------- Fußzeile -----------*/
.footline {
  text-align: center;
  margin-top: 2em;
}
.footline button {
  width: auto;
  padding: var(--margin-element);
  font-weight: 900;
}



/* ====================================
        Responsive Design
==================================== */
@media (min-width: 600px) {
  ul {
    width: 20%;
  }
}
