/* =====================================================

  Stylesheet für die Gestaltung der Kommentar Boxen (zum importieren)
  Datei: commentBox.css
  letzte Aenderung: 14.12.2024
  Autor: Jasmin Hauschild

======================================================== */
/* ----------- Kommentare -----------*/
section#comments {
  margin: auto;
}
section#comments .comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  margin: calc(2 * var(--card-margin)) 0;
  width: var(--card-width-mobile);
  height: var(--card-height-mobile);
  border: var(--border-element);
  border-radius: var(--border-radius-element);
  overflow: hidden;
  position: relative;
  background-color: var(--light-color);
  box-shadow: var(--card-box-shadow);
}

section#comments .comment::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: var(--card-width-contrastline);
  height: 100%;
  background-color: var(--primary-color);
}
section#comments .comment p:first-child {
  padding: var(--margin-element) var(--margin-element) 0 var(--margin-element);
}
section#comments .comment p:last-child {
  margin-bottom: 0;
  padding: calc(0.5 * var(--margin-element));
  background-color: var(--primary-color);
  color: var(--light-color);
  text-align: left;
}

/* ====================================
        Responsive Design
==================================== */
@media (min-width: 600px) {
/* ----------- Zutaten -----------*/
  ul {
    width: 20%;
  }

/* ----------- Kommentare -----------*/
  section#comments {
    max-width: 75%;
  }
  section#comments .comment::before {
    width: calc(2 * (var(--card-width-contrastline)));
  }

  section#comments .comment p:first-child {
  margin: var(--margin-element);
}

section#comments .comment::before {
  width: calc(2 * var(--card-width-contrastline));
}

section#comments .comment p:last-child {
  text-align: right;
  padding-right: var(--margin-element);
}
}

