/* =====================================================

  Stylesheet für die Gestaltung aller Komponenten
  Datei: styles.css
  letzte Aenderung: 14.12.2024
  Autor: Jasmin Hauschild

======================================================== */
/* ----------- Variablen -----------*/
:root {
  /* Farben */
  --primary-color: #ff8000;
  --secondary-color: #64544b;
  --contrast-color: #77bfe0;
  --dark-color: #333;
  --light-color: #fff;
  --light-med-color: #e0dacb;

  /* Elemente */
  --font-size: 16px;
  --font-family: Roboto, "Helvetica Neue", sans-serif;
  --border-element: 1px solid #ddd;
  --border-radius-element: 8px;
  --margin-element: 10px;

  /* Karten */
  --card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  --card-width-contrastline: 5px;
  --card-margin: 10px;
  /* Karten in Mobile */
  --card-height-mobile: auto;
  --card-width-mobile: 100%;
  /* Karten in Desktop */
  --card-height-desktop: 300px;
  --card-width-desktop: 300px;
}

/* ----------- Allgemeine Styles -----------*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--dark-color);
  margin-bottom: calc(2 * var(--margin-element));
  margin-top: calc(4 * var(--margin-element));
  text-align: center;
}

h2 {
  font-size: 2em;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

h3 {
  font-variant: petite-caps;
  font-weight: 500;
  margin-top: calc(3 * var(--margin-element));
}

p {
  white-space: pre-line;
}
