/* =====================================================

  Stylesheet für die Gestaltung der Login Komponente
  Datei: login.component.css
  letzte Aenderung: 14.12.2024
  Autor: Jasmin Hauschild

======================================================== */

/* ----------- Formular - allgemein -----------*/
form {
  max-width: 400px;
  margin: 0 auto;
  padding: calc(2 * var(--margin-element));
  background-color: var(--light-med-color);
  border-radius: var(--border-radius-element);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* ----------- Formular Felder -----------*/
mat-form-field {
  width: 100%;
  margin-bottom: calc(2 * var(--margin-element));
}

mat-form-field button[mat-icon-button] {
  color: var(--dark-color);
}


/* ----------- Submit Button -----------*/
button[type="submit"] {
  width: 100%;
  padding: var(--margin-element);
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: var(--border-radius-element);
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--secondary-color);
}

a[routerLink="/register"] {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  margin-top: var(--margin-element);
  display: inline-block;
}

a[routerLink="/register"]:hover {
  text-decoration: underline;
}


/* ====================================
        Responsive Design
==================================== */
@media (max-width: 600px) {
  form {
    padding: var(--margin-element);
  }

  button[type="submit"] {
    font-size: 1em;
  }
}
